body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #0a2540;
  color: white;
  padding: 3rem 1rem;
  text-align: center;
}

section {
  padding: 2rem;
  background: white;
  margin: 2rem;
  border-radius: 8px;
}

input, select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.primary {
  background: #d62828;
  color: white;
}

.secondary {
  background: #fcbf49;
  color: black;
}

#formMessage {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #0a2540;
  color: white;
}